.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.close div {
  position: absolute;
  height: 1.5rem;
  width: 3px;
  background: rgb(255, 205, 1);
  border-radius: 10px;
  right: 50%;
  left: 50%;
}

.close div:first-child {
  transform: rotate(45deg);
}

.close div:last-child {
  transform: rotate(-45deg);
}
